<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>AAYES</title>
    <!-- Include Bootstrap CSS and other styles/scripts here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/status-track.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
   
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-lg" p-2 sticky-top">
        <a class="navbar-brand ms-2 text-danger fw-bold" href="/"> AAYES</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            {% comment %} <span class="navbar-toggler-icon"></span> {% endcomment %}
            <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-2">
                <li class="nav-item">
                    <a class="nav-link pl-2" href="/"><i class="fa-solid fa-house me-1"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/events"><i class="fa-solid fa-calendar-days me-1"></i> Events</a>
                </li>
                {% if request.session.authenticated_id %}
                <li class="nav-item">
                    <a class="nav-link" href="/application-status"><i class="fa-solid fa-right-to-bracket me-1"></i> Application Status</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/modules"><i class="fa-solid fa-list me-1"></i> Modules</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register"><i class="fa-solid fa-file-pen me-1"></i> Register</a>
                </li>
                {% if request.session.authenticated_id %}
                    {% if request.session.role in request.session.role_tuple %}
                    <li class="nav-item">
                        <a class="nav-link" href="/pending-applications"><i class="fa-brands fa-stack-overflow me-1"></i> Pending Applications</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="/logout"><i class="fa-solid fa-right-to-bracket me-1"></i> Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login"><i class="fa-solid fa-lock me-1"></i> Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        {% if request.session.authenticated_id %}
        <div class="me-2 text-danger ms-2"><i class="fa-solid fa-user me-1"></i> {{ request.session.authenticated_id }}</div>
        {% endif %}
    </nav>
    <div class="container mt-3 mb-3">
       {% if messages %}
            <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                {% for message in messages %}
                    <span class="text-center">{{ message }}</span>
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}

        {% block content %}
        {% endblock %}
    </div>
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include Bootstrap JS -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
