{% extends 'base.html' %}

{% block content %}



<div class="container text-dark rounded-3" >
  <div class="border border-dark rounded-3" style="background-color: #FFFFCC; font-size: 13px">
    <div class="notepad-header fw-bold text-center p-2 text-light">
      <div class="notepad-title">அன்பு சகோதர சகோதரிகளே!</div>
    </div>
    <div class="notepad-content">

      <p class="fw-normal">அண்மையில் எம்.எம்.டி மற்றும் நர்ச்சர் அமைப்புகள் சார்பாக, தமிழ்நாடு ஆதிதிராவிடர் நலத்துறையுடன் இணைந்து அனைத்து மாவட்டங்களிலும் 114 இடங்களில், ஆதிதிராவிடர் பள்ளிகளில் பயின்ற +2 மாணவர்களுக்கான வழிகாட்டுதல் நிகழ்ச்சி வெற்றிகரமாக நடத்தி முடிக்கபட்டுள்ளது. 
        11000 த்திற்கு மேற்பட்ட ஆதிதிராவிட பள்ளி மாணவர்கள் இதன் மூலம் பலனடந்துள்ளனர்.</p>
        
        <p class="fw-normal">இதனைத் தொடர்ந்து ஆதிதிராவிட நல இயக்குனரகத்துடன் இணைந்து அண்ணல் அம்பேத்கர் இளைஞர் மேம்பாட்டு திட்டத்தை  <span class="fw-bold">(ANNAL AMBEDKAR YOUTH EMPOWERMENT SCHEME) (AAYES)</span>, 
          தமிழகத்தில் உள்ள அனைத்து கல்லூரி ஆதிதிராவிட நல விடுதி  மாணவர்களுக்கும் வழங்க திட்டமிட்டுள்ளோம் இந்த வழிகாட்டுதல் பணியினை மன நிறைவோடும், 
          ஆர்வத்துடனும் நேரத்தை ஒதுக்கி செயல்படக்கூடிய அம்பேத்கர் சிந்தனை உள்ள தன்னார்வலர்கள் ( ஆண்கள் மற்றும் பெண்கள் இரு பாலர்களும் ) அனைத்து மாவட்டங்களிலிருந்தும் வரவேற்கப்படுகிறார்கள்.</p>
          
          <p class="fw-normal">இத்திட்டத்தில் இணைந்து செயல்பட விரும்பும் தன்னார்வலர்கள் விண்ணப்ப படிவத்தை (<a href='/register' class="text-primary text-decoration-none">Register Here</a>) நிரப்புமாறு அன்போடு கேட்டுக் கொள்ளப்படுகிறார்கள்.</p> 
          
          <p class="fw-normal">மேலும் விவரங்களுக்கு <span class="fw-bold">9566449489</span>ஐ தொடர்பு கொள்ளவும்</p>
          
          <p class="fw-bold">MMT & NURTURE<br>15.06.2023</p>
    </div>
  </div>
</div> 

<!-- Modal -->
<div class="modal fade rounded-3" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content" style="background-color: #FFFFCC; font-family: verdana">
      <div class="modal-header">
        <h5 class="modal-title text-primary" id="staticBackdropLabel">அன்பு சகோதர சகோதரிகளே!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="font-size: 13px;">
        <p class="fw-normal">அண்மையில் எம்.எம்.டி மற்றும் நர்ச்சர் அமைப்புகள் சார்பாக, தமிழ்நாடு ஆதிதிராவிடர் நலத்துறையுடன் இணைந்து அனைத்து மாவட்டங்களிலும் 114 இடங்களில், ஆதிதிராவிடர் பள்ளிகளில் பயின்ற +2 மாணவர்களுக்கான வழிகாட்டுதல் நிகழ்ச்சி வெற்றிகரமாக நடத்தி முடிக்கபட்டுள்ளது. 
            11000 த்திற்கு மேற்பட்ட ஆதிதிராவிட பள்ளி மாணவர்கள் இதன் மூலம் பலனடந்துள்ளனர்.</p>

        <p class="fw-normal">இதனைத் தொடர்ந்து ஆதிதிராவிட நல இயக்குனரகத்துடன் இணைந்து அண்ணல் அம்பேத்கர் இளைஞர் மேம்பாட்டு திட்டத்தை  <span class="fw-bold">(ANNAL AMBEDKAR YOUTH EMPOWERMENT SCHEME) (AAYES)</span>, 
            தமிழகத்தில் உள்ள அனைத்து கல்லூரி ஆதிதிராவிட நல விடுதி  மாணவர்களுக்கும் வழங்க திட்டமிட்டுள்ளோம் இந்த வழிகாட்டுதல் பணியினை மன நிறைவோடும், 
            ஆர்வத்துடனும் நேரத்தை ஒதுக்கி செயல்படக்கூடிய அம்பேத்கர் சிந்தனை உள்ள தன்னார்வலர்கள் ( ஆண்கள் மற்றும் பெண்கள் இரு பாலர்களும் ) அனைத்து மாவட்டங்களிலிருந்தும் வரவேற்கப்படுகிறார்கள்.</p>

        <p class="fw-normal">இத்திட்டத்தில் இணைந்து செயல்பட விரும்பும் தன்னார்வலர்கள் கீழ்கண்ட படிவத்தை நிரப்புமாறு அன்போடு கேட்டுக் கொள்ளப்படுகிறார்கள்.</p> 

        <p class="fw-normal">மேலும் விவரங்களுக்கு <span class="fw-bold">9566449489</span>ஐ தொடர்பு கொள்ளவும்</p>

        <p class="fw-bold">MMT & NURTURE<br>15.06.2023</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Understood / புரிந்தது</button>
      </div>
    </div>
  </div>
</div>

<script>
    //window.onload = function() {
    //    const modal = document.getElementById('myModal');
    //    const myModal = new bootstrap.Modal(modal);
    //    myModal.show();
    //};
</script>


{% endblock %}