<!-- registration.html -->

{% extends 'base.html' %}

{% block content %}
{% comment %} <div class="container text-dark p-3 mt-0 rounded-3 shadow-lg bg-light" >
    <div class="p-5 border border-primary rounded-3" style="background-color: #FFFFCC; font-size: 13px">
        <h5 class="fw-bold text-center pb-3">அன்பு சகோதர சகோதரிகளே!</h5>
        <p class="fw-normal">அண்மையில் எம்.எம்.டி மற்றும் நர்ச்சர் அமைப்புகள் சார்பாக, தமிழ்நாடு ஆதிதிராவிடர் நலத்துறையுடன் இணைந்து அனைத்து மாவட்டங்களிலும் 114 இடங்களில், ஆதிதிராவிடர் பள்ளிகளில் பயின்ற +2 மாணவர்களுக்கான வழிகாட்டுதல் நிகழ்ச்சி வெற்றிகரமாக நடத்தி முடிக்கபட்டுள்ளது. 
            11000 த்திற்கு மேற்பட்ட ஆதிதிராவிட பள்ளி மாணவர்கள் இதன் மூலம் பலனடந்துள்ளனர்.</p>

        <p class="fw-normal">இதனைத் தொடர்ந்து ஆதிதிராவிட நல இயக்குனரகத்துடன் இணைந்து அண்ணல் அம்பேத்கர் இளைஞர் மேம்பாட்டு திட்டத்தை  <span class="fw-bold">(ANNAL AMBEDKAR YOUTH EMPOWERMENT SCHEME) (AAYES)</span>, 
            தமிழகத்தில் உள்ள அனைத்து கல்லூரி ஆதிதிராவிட நல விடுதி  மாணவர்களுக்கும் வழங்க திட்டமிட்டுள்ளோம் இந்த வழிகாட்டுதல் பணியினை மன நிறைவோடும், 
            ஆர்வத்துடனும் நேரத்தை ஒதுக்கி செயல்படக்கூடிய அம்பேத்கர் சிந்தனை உள்ள தன்னார்வலர்கள் ( ஆண்கள் மற்றும் பெண்கள் இரு பாலர்களும் ) அனைத்து மாவட்டங்களிலிருந்தும் வரவேற்கப்படுகிறார்கள்.</p>

        <p class="fw-normal">இத்திட்டத்தில் இணைந்து செயல்பட விரும்பும் தன்னார்வலர்கள் கீழ்கண்ட படிவத்தை நிரப்புமாறு அன்போடு கேட்டுக் கொள்ளப்படுகிறார்கள்.</p> 

        <p class="fw-normal">மேலும் விவரங்களுக்கு <span class="fw-bold">9566449489</span>ஐ தொடர்பு கொள்ளவும்</p>

        <p class="fw-bold">MMT & NURTURE<br>15.06.2023</p>
    </div>
</div> {% endcomment %}
<div class="container mt-3 p-4 rounded shadow-lg bg-light">
    <h4 class="text-primary text-center text-danger text-uppercase">Volunteer Register Form</h4>
    <hr>
    <form method="post" class="form-control mt-2 border border-dark" style="font-size: 14px">
        {% csrf_token %}
        <div class="row p-2" id="common-fields">
            <div class="col-md-6">
                <div class="form-group p-1">
                    <label class="mb-1" for="name">Name / பெயர்<span class="text-danger fw-bold">*</span></label>
                    <input type="text" class="form-control form-control-sm" id="name" name="name">
                </div>
                
                 <div class="form-group p-1">
                    <label>Gender / பாலினம்<span class="text-danger fw-bold">*</span></label>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="gender" value="male">
                        <label class="form-check-label">Male / ஆண்</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="gender" value="female">
                        <label class="form-check-label">Female / பெண்</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="gender" value="transgender">
                        <label class="form-check-label">Transgender / திருநங்கை</label>
                    </div>
                </div>
                
                <div class="form-group p-1">
                    <label class="mb-1" for="dob">Date of Birth / பிறந்த தேதி<span class="text-danger fw-bold">*</span></label>
                    <input type="date" class="form-control form-control-sm" id="dob" name="dob" max="2003-08-24" >
                </div> 
                
                <div class="form-group p-1">
                    <label class="mb-1" for="languages">Language Spoken / நீங்கள் பேசக்கூடிய மொழிகள்</label>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="languages" value="Tamil">
                        <label class="form-check-label">Tamil</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="languages" value="English">
                        <label class="form-check-label">English</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="languages" value="Hindi">
                        <label class="form-check-label">Hindi</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" id="otherlanguage" class="form-check-input" name="languages" value="others">
                        <label class="form-check-label">Others</label>
                        
                    </div>
                    <input type="text" class="form-control form-control-sm" style="display: none" id="languages_other" name="languages_other" placeholder="Enter Languages, separated by commas">
                </div>
     
                <div class="form-group p-1">
                    <label class="mb-1" for="district">District / மாவட்டம்<span class="text-danger fw-bold">*</span></label>
                    <select class="form-control form-control-sm" id="district" name="district">
                        <option value="">Select a district</option>
                        <option value="Ariyalur">Ariyalur / அரியலூர்</option>
                        <option value="Chengalpattu">Chengalpattu / செங்கல்பட்டு</option>
                        <option value="Chennai">Chennai / சென்னை</option>
                        <option value="Coimbatore">Coimbatore / கோயம்புத்தூர்</option>
                        <option value="Cuddalore">Cuddalore / கடலூர்</option>
                        <option value="Dharmapuri">Dharmapuri / தர்மபுரி</option>
                        <option value="Dindigul">Dindigul / திண்டுக்கல்</option>
                        <option value="Erode">Erode / ஈரோடு</option>
                        <option value="Kallakurichi">Kallakurichi / கள்ளக்குறிச்சி</option>
                        <option value="Kanchipuram">Kanchipuram / காஞ்சிபுரம்</option>
                        <option value="Kanniyakumari">Kanniyakumari / கன்னியாகுமரி</option>
                        <option value="Karur">Karur / கரூர்</option>
                        <option value="Krishnagiri">Krishnagiri / கிருஷ்ணகிரி</option>
                        <option value="Madurai">Madurai / மதுரை</option>
                        <option value="Mayiladuthurai">Mayiladuthurai / மயிலாடுதுறை</option>
                        <option value="Nagapattinam">Nagapattinam / நாகப்பட்டினம்</option>
                        <option value="Namakkal">Namakkal / நாமக்கல்</option>
                        <option value="Nilgiris">Nilgiris / நீலகிரி</option>
                        <option value="Perambalur">Perambalur / பெரம்பலூர்</option>
                        <option value="Pudukkottai">Pudukkottai / புதுக்கோட்டை</option>
                        <option value="Ramanathapuram">Ramanathapuram / இராமநாதபுரம்</option>
                        <option value="Ranipet">Ranipet / ராணிப்பேட்டை</option>
                        <option value="Salem">Salem / சேலம்</option>
                        <option value="Sivagangai">Sivagangai /சிவகங்கை</option>
                        <option value="Tenkasi">Tenkasi / தென்காசி</option>
                        <option value="Thanjavur">Thanjavur / தஞ்சாவூர்</option>
                        <option value="Theni">Theni / தேனி</option>
                        <option value="Thoothukudi">Thoothukudi /தூத்துக்குடி</option>
                        <option value="Tiruchirappalli">Tiruchirappalli / திருச்சிராப்பள்ளி</option>
                        <option value="Tirunelveli">Tirunelveli / திருநெல்வேலி</option>
                        <option value="Tirupathur">Tirupathur / திருப்பத்தூர்</option>
                        <option value="Tiruppur">Tiruppur / திருப்பூர்</option>
                        <option value="Tiruvallur">Tiruvallur / திருவள்ளூர்</option>
                        <option value="Tiruvannamalai">Tiruvannamalai / திருவண்ணாமலை</option>
                        <option value="Tiruvarur">Tiruvarur / திருவாரூர்</option>
                        <option value="">Vellore வேலூர்</option>
                        <option value="Viluppuram">Viluppuram / விழுப்புரம்</option>
                        <option value="Virudhunagar">Virudhunagar / விருதுநகர்</option>
                        <!-- Populate districts here -->
                    </select>
                </div>
                <div class="form-group p-1">
                    <label class="mb-1" for="designation">Designation / வகித்த ,வகித்துக் கொண்டிருக்கும் பதவி</label>
                    <input type="text" class="form-control form-control-sm" id="designation" name="designation">
                </div>

                <div class="form-group p-1">
                    <label class="mb-1" for="employment_status">In Service/Retired</label>
                    <select class="form-control form-control-sm" id="employment_status" name="employment_status">
                        <option value="">Select your employment status</option>
                        <option value="in-service">In Service / பணியில் இருக்கிறேன்</option>
                        <option value="retired">Retired / பணி ஓய்வு பெற்று விட்டேன்</option>
                    </select>
                </div>

                <div class="form-group p-1">
                    <label class="mb-1" for="role">What Role you would like to play for this program? /  இந்த திட்டத்தில் நீங்கள் என்ன பங்கு வகிக்க விரும்புகிறீர்கள் ?<span class="text-danger fw-bold">*</span></label>
                    <select class="form-control form-control-sm" id="role" name="role">
                        <option value="">Select your role</option>
                        <option value="RP">Resource person either as a faculty or as a trainer for college hostel students / விடுதியில் தங்கிப் படிக்கும் கல்லூரி மாணவர்களுக்கு பாடம் எடுக்க அல்லது பயிற்சி கொடுக்க விரும்புகிறேன்</option>
                        <option value="ADC">District Coordinator for AAYES  /  மாவட்ட ஒருங்கிணைப்பாளர் AAYES</option>
                        <option value="DC">Associate District Coordinator for AAYES  /  இணை மாவட்ட ஒருங்கிணைப்பாளர் AAYES</div>
                        <option value="DADW">DADW (District of Adi Dravida Welfare) Officer / மாவட்ட ஆதி திராவிட நலத்துறை அலுவலர்</option>
                        <option value="Wardan">Wardan / விடுதி காப்பாளர்</option>
                        <option value="Donar">Donor or Sponseror / நன்கொடையாளர் அல்லது ஆதரவாளர்</option>
                        <!-- Populate roles here -->
                    </select>
                </div>  
            </div>
            
            <div class="col-md-6">
                <div class="form-group p-1">
                    <label class="mb-1" for="mobile">Mobile Number / கைபேசி எண்<span class="text-danger fw-bold">*</span></label>
                    <input type="tel" class="form-control form-control-sm" id="mobile" name="mobile" pattern="[0-9]{10}">
                </div>
                
                <div class="form-group p-1">
                    <label class="mb-1" for="email">Email / மின்னஞ்சல்</label>
                    <input type="email" class="form-control form-control-sm" id="email" name="email">
                </div>
                
                <div class="form-group p-1">
                    <label class="mb-1" for="whatsapp">WhatsApp Number / வாட்ஸ் அப் எண்</label> <span></span>
                    <input type="tel" class="form-control form-control-sm" id="whatsapp" name="whatsapp" pattern="[0-9]{10}">
                </div>
 
                <div class="form-group p-1">
                    <label class="mb-1" for="password">Password / கடவுச்சொல்</label>
                    <input type="password" class="form-control form-control-sm" id="password" name="password">
                    <p class="text-muted">Note: Keep in mind to remember your password to check your application status.</p>
                </div>
                
                <div class="form-group p-1">
                    <label class="mb-1" for="address">Address முகவரி</label>
                    <textarea class="form-control form-control-sm" id="address" name="address" rows="2"></textarea>
                </div>

                <div class="form-group p-1">
                    <label class="mb-1" for="education_qualification">Educational Qualification /  கல்வி தகுதி</label>
                    <input type="text" class="form-control form-control-sm" id="education_qualification" name="education_qualification">
                </div>
                
                <div class="form-group p-1">
                    <label class="mb-1" for="profession">Profession / தொழில்</label>
                    <select class="form-control form-control-sm" id="profession" name="profession">
                        <option value="">Select your profession</option>
                        <option value="engineer">Engineer / பொறியாளர்</option>
                        <option value="doctor">Doctor / மருத்துவர்</option>
                        <option value="lawyer">Lawyer / வழக்கறிஞர்</option>
                        <option value="teacher">Teacher / ஆசிரியர்</option>
                        <option value="entrepreneur">Entrepreneur / சொந்தத் தொழில் புரிவோர்</option>
                        <option value="others">Others</option>
                    </select>
                    <input type="text" class="form-control form-control-sm mt-2" style="display: none" id="profession_other" name="profession_other" placeholder="Enter your profession">
                </div>
                         
                <div class="form-group p-1">
                    <label class="mb-1" for="employment_type">Type of Employment / வேலை வகை<span class="text-danger fw-bold">*</span></label>
                    <select class="form-control form-control-sm" id="employment_type" name="employment_type">
                        <option value="">Select your type of employment</option>
                        <option id="sg" value="state government">State Government / மாநில அரசு</option>
                        <option id="cg" value="central government">Central Government / மத்திய அரசு</option>
                        <option id="pus" value="public sector">Public Sector / பொதுத்துறை</option>
                        <option id="prs" value="private sector">Private Sector / தனியார் துறை</option>
                        <option id="prs" value="private sector">Self Employed / சுயதொழில்</option>
                        <option id="e_type_other" value="others">Others</option>
                    </select>
                    <input type="text" class="form-control form-control-sm mt-2" style="display: none" id="employment_type_other" name="employment_type_other" placeholder="Enter your type of employment">
                </div>
                
                <div class="form-group p-1" id="module_interested_div" style="display: none;">
                    <label class="mb-1" for="module_interested">If resource person / trainer,  then Field of interest / பயிற்சியாளர் என்றால் எடுக்க விரும்பும் பாடம்<span class="text-danger fw-bold">*</span></label>
                    <select class="form-control form-control-sm" id="module_interested" name="module_interested">
                        <option value="">Select module of interest</option>
                        <option value="English language and communication skills">English language and communication skills / ஆங்கில மொழி மற்றும் தொடர்பு திறன்</option>
                        <option value="Digital literacy">Digital literacy / கணிப்பொறி, இணைய பயன்பாடு மற்றும் திறன் வளர்த்தல்</option>
                        <option value="Entrepreneurship training, skill, knowledge building">Entrepreneurship training, skill, knowledge building / தொழில் முனைவோர் பயிற்சி</option>
                        <option value="health management ( NCC, Sports ,games, Hobbies , Personal Hygiene, Nutrition)">Health management ( NCC, Sports ,games, Hobbies , Personal Hygiene, Nutrition) / சுகாதார மேலாண்மை</option>
                        <option value="Moral values ,Ethics in life">Moral values ,Ethics in life / ஒழுக்க நெறிமுறைகளை பின்பற்றுதல்</option>
                        <option value="Preparing for competitive exams">Preparing for competitive exams / போட்டித் தேர்வுகளுக்கு தயாராதல்</option>
                        <option value="others">Any other Skills? / இவை அல்லாத வேறு திறன் வளர்ப்பில் தங்கள் பங்களிப்பு இருக்குமானால் குறிப்பிடுக</option>
                        <option value="NA">Not Applicable / இவை எதுவும் பொருந்தாது</option>
                    </select>
                    <input type="text" class="form-control form-control-sm mt-2" style="display: none" id="module_interested_other" name="module_interested_other" placeholder="Type any other module you interested">
                </div>
            
            </div>
        </div>
        
        <div class="row p-2">
            <div class="col-md-6" id="exclusive_fields_set_one" style="display: none">

                <div class="form-group p-1">
                    <label class="mb-1" for="community">Community / சமுதாயம்</label>
                    <input type="text" class="form-control form-control-sm" id="community" name="community">
                </div>
                
                <div class="form-group p-1">
                    <label class="mb-1" for="marital_status">Marital Status / திருமண நிலை<span class="text-danger fw-bold">*</span></label>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="marital_status" value="married">
                        <label class="form-check-label">Married / திருமணமானவர்</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="marital_status" value="single">
                        <label class="form-check-label">Single / திருமணம் ஆகாதவர்</label>
                    </div>
                </div>
                
                <div class="form-group p-1">
                    <label class="mb-1" for="monthly_income">Monthly income in Rs /  மாத வருமானம் in Rs</label>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="monthly_income" value="< 10000">
                        <label class="form-check-label"> &lt 10000 </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="monthly_income" value="10000 - 50000">
                        <label class="form-check-label"> 10000 - 50000 </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="monthly_income" value="50000 - 100000">
                        <label class="form-check-label"> 50000 - 100000 </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="monthly_income" value="> 100000">
                        <label class="form-check-label"> &gt 100000 </label>
                    </div>
                </div>

                <div class="form-group p-1">
                    <label class="mb-1" for="father_or_spouse_name">Father/ Spouse name  தந்தை / மனைவி அல்லது கணவன் பெயர்</label>
                    <input type="text" class="form-control form-control-sm" id="father_or_spouse_name" name="father_or_spouse_name">
                </div>

                <div class="form-group p-1">
                    <label class="mb-1" for="monthly_income">Father / Spouse Monthly income / தந்தை/மனைவி அல்லது கணவன் மாத வருமானம்</label>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="father_or_spouse_monthly_income" value="< 10000">
                        <label class="form-check-label"> &lt 10000 </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="father_or_spouse_monthly_income" value="10000 - 50000">
                        <label class="form-check-label"> 10000 - 50000 </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="father_or_spouse_monthly_income" value="50000 - 100000">
                        <label class="form-check-label"> 50000 - 100000 </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="father_or_spouse_monthly_income" value="> 100000">
                        <label class="form-check-label"> &gt 100000 </label>
                    </div>
                </div>

                <div class="form-group p-1">
                    <label class="mb-1" for="father_or_spouse_occupation">Father / Spouse occupation  தந்தை/மனைவி அல்லது கணவன் தொழில்</label>
                    <input type="text" class="form-control form-control-sm" id="father_or_spouse_occupation" name="father_or_spouse_occupation">
                </div>

                <div class="form-group p-1">
                    <label class="mb-1" for="number_of_children">Number of Children /  குழந்தைகளின் எண்ணிக்கை</label>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="number_of_children" value="1">
                        <label class="form-check-label"> 1 </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="number_of_children" value="2">
                        <label class="form-check-label"> 2 </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="number_of_children" value="3">
                        <label class="form-check-label"> 3 or more </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="number_of_children" value="> 100000">
                        <label class="form-check-label"> Nil / Not Applicable </label>
                    </div>
                </div>

                <div class="form-group p-1">
                    <label class="mb-1" for="social_activities">Are you involved in any other social service activities? நீங்கள் வேறு ஏதேனும் சமூகப் பணிகளில் சேவைகளில் ஈடுபட்டு உள்ளீர்களா ?</label>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="social_activities" value="yes">
                        <label class="form-check-label"> Yes / ஆம் </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="social_activities" value="no">
                        <label class="form-check-label"> No / இல்லை </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="social_activities" value="maybe">
                        <label class="form-check-label"> May be / இருக்க கூடும் </label>
                    </div>
                </div>

                <div class="form-group p-1">
                    <label class="mb-1" for="ngo_or_trust">Are you affiliated with any NGO or Trust? If yes, mention the name.
                    நீங்கள் எதுவும் தொண்டு நிறுவனம் அல்லது அமைப்பை சார்ந்துள்ளீர்களா?
                    ஆம் எனில் அதன் பெயர்?</label>
                    <input type="text" class="form-control form-control-sm" id="ngo_or_trust" name="ngo_or_trust">
                </div>

                <div class="form-group p-1">
                    <label class="mb-1" for="available_hours">How many hours can you dedicate for this project in a week ? ஒரு வாரத்தில் இந்தத் திட்டத்திற்காக எத்தனை மணிநேரம் ஒதுக்கலாம்?</label>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="available_hours" value=" more than 2 hours per day on daily basis">
                        <label class="form-check-label"> ஒரு நாளைக்கு இரண்டு மணி நேரத்திற்கு மேல் தினமும். </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="available_hours" value=" less than 2 hours per day on daily basis">
                        <label class="form-check-label"> ஒரு நாளைக்கு இரண்டு மணி நேரத்திற்கு கீழ் தினமும் </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="available_hours" value=" more than 2 hours per week">
                        <label class="form-check-label"> வாரத்திற்கு இரண்டு மணி நேரத்திற்கு மேல் வாய்ப்பு கிடைக்கும் தினங்களில் </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="available_hours" value=" less than 2 hours per week">
                        <label class="form-check-label"> வாரத்திற்கு இரண்டு மணி நேரத்திற்கு கீழ் வாய்ப்பு கிடைக்கும் தினங்களில் </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="available_hours" value="no specific hours. will be available on free time">
                        <label class="form-check-label"> குறிப்பிட்டு சொல்ல முடியாது. வாய்ப்பு கிடைக்கும்போது நேரம் ஒதுக்குவேன் </label>
                    </div>
                </div>

                <div class="form-group p-1">
                    <label class="mb-1" for="own_vehicle">Do you own a vehicle ? If yes, Type of vehicle . /  உங்களிடம் வாகனம் இருக்கிறதா? ஆம் எனில், வாகனத்தின் வகை</label>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="own_vehicle" value="2 wheeler">
                        <label class="form-check-label">Two Wheeler</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="own_vehicle" value="4 wheeler">
                        <label class="form-check-label">Four Wheeler</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="own_vehicle" value="Not Applicable">
                        <label class="form-check-label">Nil / Not Applicable</label>
                    </div>
                </div>
                
                <div class="form-group p-1">
                    <label class="mb-1" for="residential_training">Will you attend residential training programs in future if necessary? தேவைப்பட்டால் எதிர்காலத்தில் குடியிருப்பு பயிற்சி திட்டங்களில் கலந்து கொள்வீர்களா?</label>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="residential_training" value="yes">
                        <label class="form-check-label"> Yes / ஆம் </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="residential_training" value="no">
                        <label class="form-check-label"> No / இல்லை </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="residential_training" value="maybe">
                        <label class="form-check-label"> May be / இருக்க கூடும் </label>
                    </div>
                </div>

                <div class="form-group p-1">
                    <label class="mb-1" for="money_can_donate">How much money can you donate per month for social activities (in Rs)? சமூக சேவைகளுக்காக தங்களால் மாதம் எவ்வளவு தொகை ஒதுக்க முடியும்</label>
                    <input type="number" class="form-control form-control-sm" id="money_can_donate" name="money_can_donate">
                </div>

                <div class="form-group p-1">
                    <label class="mb-1" for="religion">Religion /  மதம்</label>
                    <input type="text" class="form-control form-control-sm" id="religion" name="religion">
                </div>
                 
                <div class="form-group p-1">
                    <label class="mb-1" for="believe_in_god">Do you believe in God?  உங்களுக்கு கடவுள் மீது நம்பிக்கை உண்டா?</label>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="believe_in_god" value="yes">
                        <label class="form-check-label"> Yes / ஆம் </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="believe_in_god" value="no">
                        <label class="form-check-label"> No / இல்லை </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="believe_in_god" value="maybe">
                        <label class="form-check-label"> May be / இருக்க கூடும் </label>
                    </div>
                </div>

                <div class="form-group p-1">
                    <label class="mb-1" for="call_brahmins_for_rituals">Do you call brahmins for your rituals? / நீங்கள் உங்கள் வீட்டு நிகழ்ச்சிகளுக்கு பிராமணர்களை அழைத்து சடங்குகள் செய்கிறீர்களா?</label>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="call_brahmins_for_rituals" value="yes">
                        <label class="form-check-label"> Yes / ஆம் </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="call_brahmins_for_rituals" value="no">
                        <label class="form-check-label"> No / இல்லை </label>
                    </div>
                </div>

                <div class="form-group p-1">
                    <label class="mb-1" for="believe_in_rituals">Do you believe in all rituals? / வழிபாட்டு சடங்குகளில் உங்களுக்கு நம்பிக்கை உள்ளதா?</label>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="believe_in_rituals" value="yes">
                        <label class="form-check-label"> Yes / ஆம் </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="believe_in_rituals" value="no">
                        <label class="form-check-label"> No / இல்லை </label>
                    </div>
                </div>

              
            </div>
            <div class="col-md-6" id="exclusive_fields_set_two" style="display: none"> 
                <div class="form-group p-1">
                    <label class="mb-1" for="worship_of_heirlooms">For your family, do you worship of heirlooms? / உங்கள் குடும்பத்திற்கு என்று, குலதெய்வம் வழிபாடு நீங்கள் செய்வது உண்டா?</label>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="worship_of_heirlooms" value="yes">
                        <label class="form-check-label"> Yes / ஆம் </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="worship_of_heirlooms" value="no">
                        <label class="form-check-label"> No / இல்லை </label>
                    </div>
                </div>

                <div class="form-group p-1">
                    <label class="mb-1" for="cause_for_untouchability">What's the cause for untouchability? / உங்கள் பார்வையில் தீண்டாமைக்கு என்ன காரணம்?</label>
                    <input type="text" class="form-control form-control-sm" id="cause_for_untouchability" name="cause_for_untouchability">
                </div>

                <div class="form-group p-1">
                    <label class="mb-1" for="problem_of_dalits">What is the main problem of dalits? / தலித்துகளின் முக்கிய பிரச்சனை என்ன?</label>
                    <input type="text" class="form-control form-control-sm" id="problem_of_dalits" name="problem_of_dalits">
                </div>

                <div class="form-group p-1">
                    <label class="mb-1" for="related_to_religion">Do you think that untouchability is related to religion? /  தீண்டாமை மதத்துடன் தொடர்புடையது என்று நினைக்கிறீர்களா?</label>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="related_to_religion" value="yes">
                        <label class="form-check-label"> Yes / ஆம் </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="related_to_religion" value="no">
                        <label class="form-check-label"> No / இல்லை </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="related_to_religion" value="maybe">
                        <label class="form-check-label"> May be / இருக்க கூடும் </label>
                    </div>
                </div>

                <div class="form-group p-1">
                    <label class="mb-1" for="willing_to_volunteer">Are you willing to work for this project as volunteer without any payment? / எந்தவொரு கட்டணமும் இல்லாமல் தன்னார்வத் தொண்டராக இந்தத் திட்டத்தில் பணியாற்ற நீங்கள் தயாரா?</label>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="willing_to_volunteer" value="yes">
                        <label class="form-check-label"> Yes / ஆம் </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="willing_to_volunteer" value="no">
                        <label class="form-check-label"> No / இல்லை </label>
                    </div>
                </div>

                <div class="form-group p-1">
                    <label class="mb-1" for="solution_givenby_ambedkar">What's the solution given by Dr.Ambedkar for eradicating untouchability? / தீண்டாமை ஒழிப்புக்கு டாக்டர் அம்பேத்கர் அளித்த தீர்வு என்ன?</label>
                    <input type="text" class="form-control form-control-sm" id="solution_givenby_ambedkar" name="solution_givenby_ambedkar">
                </div>

                <div class="form-group p-1">
                    <label class="mb-1" for="solution_for_untouchability">What is the solution for untouchability, from your point of view? / தீண்டாமைக்கு தீர்வாக நீங்கள் எதை கருதுகிறீர்கள்?</label>
                    <input type="text" class="form-control form-control-sm" id="solution_for_untouchability" name="solution_for_untouchability">
                </div>

                <div class="form-group p-1">
                    <label class="mb-1" for="ambedkar_books">Have you read Dr. Ambedkar books? If yes, what's the name of your favourite book? /  டாக்டர் அம்பேத்கர் புத்தகங்களைப் படித்திருக்கிறீர்களா? ஆம் எனில், உங்களுக்குப் பிடித்த புத்தகத்தின் பெயர் என்ன?</label>
                    <input type="text" class="form-control form-control-sm" id="ambedkar_books" name="ambedkar_books">
                </div>

                <div class="form-group p-1">
                    <label class="mb-1" for="hobby">Hobby / பொழுதுபோக்கு</label>
                    <input type="text" class="form-control form-control-sm" id="hobby" name="hobby">
                </div>

                <div class="form-group p-1">
                    <label class="mb-1" for="additional_skills">Additional Skills and talents ?  கூடுதல் திறன்கள் மற்றும் திறமைகள்?</label>
                    <input type="text" class="form-control form-control-sm" id="additional_skills" name="additional_skills">
                </div>

                <div class="form-group p-1">
                    <label class="mb-1" for="visit_adw_hostels">Are you willing to visit the  ADW hostels frequently? /  ADW கல்லூரி ஆதி திராவிட நல விடுதிகளுக்கு அடிக்கடி செல்ல நீங்கள் தயாரா?</label>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="visit_adw_hostels" value="yes">
                        <label class="form-check-label"> Yes / ஆம் </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="visit_adw_hostels" value="no">
                        <label class="form-check-label"> No / இல்லை </label>
                    </div>
                </div>

                <div class="form-group p-1">
                    <label class="mb-1" for="social_media_account">Social media Account ID (optional) சமூக ஊடக கணக்கு ஐடி (விரும்பினால்)</label>
                    <input type="text" class="form-control form-control-sm" id="social_media_account" name="social_media_account">
                </div>

                <div class="form-group p-1">
                    <label class="mb-1" for="conversion">Do you agree that Conversion is a solution for untouchability? /  தீண்டாமைக்கு மதமாற்றம் ஒரு தீர்வு என்பதை நீங்கள் ஒப்புக்கொள்கிறீர்களா?</label>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="conversion" value="yes">
                        <label class="form-check-label"> Yes / ஆம் </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="conversion" value="no">
                        <label class="form-check-label"> No / இல்லை </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="conversion" value="maybe">
                        <label class="form-check-label"> May be / இருக்க கூடும் </label>
                    </div>
                </div>

                <div class="form-group p-1">
                    <label class="mb-1" for="untouchability_prevalent">Is untouchability prevalent nowadays? / தற்காலத்தில் தீண்டாமை பரவலாக உள்ளதா?</label>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="untouchability_prevalent" value="yes">
                        <label class="form-check-label"> Yes / ஆம் </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="untouchability_prevalent" value="no">
                        <label class="form-check-label"> No / இல்லை </label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" name="untouchability_prevalent" value="maybe">
                        <label class="form-check-label"> May be / இருக்க கூடும் </label>
                    </div>
                </div>

                <div class="form-group p-1">
                    <label class="mb-1" for="adc_can_gather">If you are appointed as a District coordinator, How many assistant district coordinators  (volunteers) you can gather to support you? / நீங்கள் மாவட்ட ஒருங்கிணைப்பாளராக நியமிக்கப்பட்டால், உங்களுக்கு ஆதரவாக எத்தனை இணை மாவட்ட ஒருங்கிணைப்பாளர்களை (தன்னார்வலர்களை) நீங்கள் சேகரிக்க முடியும்?</label>
                    <input type="number" class="form-control form-control-sm" id="adc_can_gather" name="adc_can_gather">
                </div>

                <div class="form-group p-1">
                    <label class="mb-1" for="political_party">Are you affiliated to any political party? If yes, which party? / நீங்கள் ஏதேனும் அரசியல் கட்சியில் இணைந்திருக்கிறீர்களா? ஆம் எனில், எந்த கட்சி?</label>
                    <input type="text" class="form-control form-control-sm" id="political_party" name="political_party">
                </div>

            </div>
        </div>
        <div class="row p-2 mt-3">
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>        
    </form>
</div>
<script>

    // show and hide language entry field
    document.addEventListener("DOMContentLoaded", function() {
        const otherLanguageCheckbox = document.getElementById("otherlanguage");
        const languagesField = document.getElementById("languages_other");

        otherLanguageCheckbox.addEventListener("change", function() {
            if (otherLanguageCheckbox.checked) {
                languagesField.style.display = "block";
            } else {
                languagesField.style.display = "none";
            }
        });
    });

     // show and hide other modules interested field
    document.addEventListener("DOMContentLoaded", function() {
        const module_interested = document.getElementById("module_interested");
        const module_interest_other = document.getElementById("module_interest_other");

        module_interested.addEventListener("change", function() {
            if (module_interested.value === 'others') {
                module_interested_other.style.display = "block";
            } else {
                module_interested_other.style.display = "none";
            }
        });
    });

    // accept other professions
    document.addEventListener("DOMContentLoaded", function() {
        const profession = document.getElementById("profession");
        const professionOtherInput = document.getElementById("profession_other");

        profession.addEventListener("change", function() {
            if (profession.value === "others") {
                professionOtherInput.style.display = "block";
            } else {
                professionOtherInput.style.display = "none";
            }
        });
    });

    // accept other employement types
    document.addEventListener("DOMContentLoaded", function() {
        const employmentTypeSelect = document.getElementById("employment_type");
        const employmentTypeOtherInput = document.getElementById("employment_type_other");

        employmentTypeSelect.addEventListener("change", function() {
            if (employmentTypeSelect.value === "others") {
                employmentTypeOtherInput.style.display = "block";
            } else {
                employmentTypeOtherInput.style.display = "none";
            }
        });
    });

    // show/hide exclusive fields
    document.addEventListener("DOMContentLoaded", function() {
        const selected_role = document.getElementById("role");
        const exclusive_fields_set_one = document.getElementById("exclusive_fields_set_one");
        const exclusive_fields_set_two = document.getElementById("exclusive_fields_set_two");
        const module_interested = document.getElementById("module_interested_div");

        selected_role.addEventListener("change", function() {
            if (selected_role.value === "ADC" || selected_role.value === "DC") {
                module_interested.style.display = "none";
                exclusive_fields_set_one.style.display = "block";
                exclusive_fields_set_two.style.display = "block";
            }
            else if(selected_role.value === "RP"){
                module_interested.style.display = "block";
                exclusive_fields_set_one.style.display = "none";
                exclusive_fields_set_two.style.display = "none";

            } 
            else {
                module_interested.style.display = "none";
                exclusive_fields_set_one.style.display = "none";
                exclusive_fields_set_two.style.display = "none";
            }
        });
    });
</script>
{% endblock %}
